input {
    vertical-align: middle;
}

div.player input[value] {
    width: 2em;
}

button {
    margin-left: 10px;
}

.player {
    flex: none;
    border: 1px solid #777777;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    background-color: white;
    -webkit-box-shadow: 2px 2px 3px 0px #ccc;
    -moz-box-shadow:    2px 2px 3px 0px #ccc;
    box-shadow:         2px 2px 3px 0px #ccc;
}

.player h2 {
    font-style: bold;
}

.main-container {
    padding: 50px;
}

.players-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

.empty {
    color: lightgray;
    font-style: italic;
}

.main-title {
    text-align: center;
}

h1 {
    font-family: 'Poiret One';
    font-size: 3em;
}

progress[value] {
  width: 200px;
  height: 20px;
  margin-left: 5px;
  margin-right: 5px;
  vertical-align: middle;
  border-radius: 3px;
  border: 1px solid #777777;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

/* progress styles (have to be done per browser) */

progress[value]::-webkit-progress-bar {
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-moz-progress-bar {
    border-radius: 3px;
    background-color: #DE7702;

}

progress[value]::-webkit-progress-value {
    border-radius: 3px;
    background-color: #DE7702;
}

/* buttons */

button {
    background-color: white;
    font-family: ;
    font-size: 13px;
    border-radius: 5px;
    border-width: 2px;
    padding: 0px 5px 0px 5px !important;
    height: 20px;
    margin: 3px !important;
    outline: none;
    vertical-align: middle;
}

li {
    list-style-position: inside;
}